* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7f00ff, #e100ff);
}

.todo-container {
  width: 380px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
  border-radius: 25px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px);}
  to { opacity: 1; transform: translateY(0);}
}

.todo-container h2 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 18px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

#addBtn {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  color: #9e00ff;
  transition: 0.3s;
}

#addBtn:hover {
  transform: rotate(90deg) scale(1.1);
  background: #fffafa;
}

ul li {
  list-style: none;
  padding: 12px 15px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffffdd;
  border-radius: 12px;
  cursor: pointer;
  animation: slideIn 0.4s ease;
  transition: 0.3s;
}

@keyframes slideIn {
  from { transform: translateX(-25px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

ul li:hover {
  transform: translateX(6px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

ul li.completed {
  text-decoration: line-through;
  background: #d8bfd8;
  opacity: 0.7;
  transform: scale(0.98);
}

.delete-btn {
  color: #ed1b24;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  transform: scale(1.3);
}

.clear-btn {
  background: #ff375f;
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.clear-btn:hover {
  background: #d40d41;
  transform: scale(1.05);
}

@media (max-width: 380px) {
  .todo-container {
    width: 90%;
  }
}